.header {
     background-color: #222835;
 }

header {
    grid-area: header;
}

header img {
    width: 100px;
}
.imggrid{
    justify-self: start
}

.auth {
    color: white;
    align-self: center;
    justify-self: center
}


.headerGrid {
    display: grid;
    grid-template-columns: 1fr 150px;
    align-items: center;
    justify-items: center;
}