.container{
    display: grid;
    grid-template-columns: 230px 1fr;
}
.logo img {
    width: 200px;
    height: 200px;
    }

.logo {
}
.description{
    font-family: Arial;
    font-style: normal;
    font-size: 14pt;
    padding: 10px;
}