
.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "header header"
                          "nav content"
                           "footer footer";

    grid-template-columns: 110px 1fr ;
    grid-template-rows: 120px 1fr;
    grid-gap: 7px;
}
.app-wrapper-content{
    background-color: aqua;
    grid-area: content;
}
