.dialogs{
    display: grid;
    grid-template-columns: 200px 1fr;
    margin: 15px;
    font-size: 14pt;
}
.dialogs_items{
    padding: 20px;
    border-right: rgba(0, 0, 0, .4) solid;
}

.messages{
    padding: 20px;
}
