.nav {
    background-color: #0d58c8;
    padding: 10px;
}

.item {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14pt;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 6px;
}

.item a {
    color: white;
    text-decoration: none;
}

a.active {
    color: gold;
}

nav {
    grid-area: nav;

}